#loginFormHBox {
    -fx-padding: 0 0 20px 0;
}

#loginBtn {
    -fx-right: 0;
}

#status {
    -fx-padding: 20px 0 0 0;
}

#mainWrapper {
    -fx-padding: 20px;
}

#filesScrollPane {
    -fx-padding: 5px;
}

#logoutHBox, #settingsImageView {
    -fx-cursor: hand;
}

.check-box {
    -fx-padding: 5px 0 5px 0;
}

.radio-button {
    -fx-padding: 0 0 5px 5px;
}
